@model BankInstructionApp.Models.OperationType

@{
    ViewBag.Title = "Update Operation Type";
}

<h2>İşlem Türü Güncelleme</h2>
<div style="margin-top: 20px;"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.opreationID)

        <div class="form-group">
            @Html.LabelFor(model => model.BankOperationTpye, "İŞLEM TÜRÜ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankOperationTpye, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankOperationTpye, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "AÇIKLAMA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-primary" />

            </div>
        </div>
    </div>
}
<div style="margin-top: 20px;"></div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Listeye Geri Dön", "OperationType", null, new { @class = "btn btn-primary" })
    </div>
</div>
