@model BankInstructionApp.Models.BankAccount

@{
    ViewBag.Title = "Yeni Kayıt Ekle";
}

<h2>Yeni Banka Hesabı Oluştur</h2>
<div style="margin-top: 20px;"></div>

@using (Html.BeginForm("Create", "BankAccount", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(model => model.IBAN," IBAN NUMARASI", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.BankName,"BANKA ADI", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.BranchName,"ŞUBE ADI ", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.Currency,"Para Birimi ", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description,"AÇIKLAMA", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top: 20px;"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Oluştur</button>
    </div>

    <div style="margin-top: 20px;">
        @Html.ActionLink("Listeye Dön", "BankAccounts", "BankAccount")
    </div>

}
