@model BankInstructionApp.Models.CustomerBankInfo

@{
    ViewBag.Title = "Update Customer Account";
}
<h2>Cari Hesap Güncelleme </h2>
<div style="margin-top: 20px;"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerBankInfoId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerCode, "Kullanıcı Kodu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, "Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.TaxNumber, "Vergi Numarası", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaxNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaxNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.BranchName, "Şube Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.BankName, "Banka Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.IBAN, "IBAN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Currency, "Para Birimi ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-top: 20px;"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div style="margin-top: 20px;"></div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Listeye Geri Dön", "CustomerAccounts", null, new { @class = "btn btn-primary" })
    </div>
</div>

